.login-page {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("./../LoginPageAssets/loginPageBGImage.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.login-section {
    display: flex;
    height: 62vh;
    width: 30%;
    flex-direction: column;
    background: rgb(255, 255, 255);
    border-radius: 20px;
}

.login-header {
    text-align: center;
    font-size: 3em;
    color: #020f60;
}

.login-body {

}

.login-form {
    width: 100%;
    font-size: 24px;
}

.text-font {
    color: #020f60;
    font-size: 18px;
    font-weight: 700;
}


.email-group, .password-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 8%;
    gap: 2%;
}

.login-footer {
    display: flex;
    margin-top: 11%;
    color: #020f60;
    font-size: 18px;
    text-align: end;
}


.visitor-link {
    display: flex;
    justify-content: end;
    align-items: center;
    text-decoration: none;
    color: #020f60;
    width: fit-content;
    margin-left: 20px;
}

span.arrow {
    display: flex;
    width: 20px;
    height: 20px;
    border-top: 1px solid #2a2a2a;
    border-right: 1px solid #2a2a2a;
    transform: rotate(45deg);
    animation: arrow-animation 1s ease-in infinite;
}

.visitor-link span:nth-child(1) {
    animation-delay: 0.2s;
}

.visitor-link span:nth-child(2) {
    animation-delay: 0.3s;
}

.visitor-link span:nth-child(3) {
    animation-delay: 0.4s;
}

.login {
    margin-left: 10px;
    font-size: 20px;
    font-weight: 500;
    width: 50%;
    background-color: #536553;
    border: none;
}

@keyframes arrow-animation {

    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}



/*Working on the page responsiveness.*/