.meseno-logo {
    margin-left: 100px;
    margin-top: 10px;
    border-radius: 20px;
}

.box-shadow {
    box-shadow: 4px 18px 10px rgba(0, 54, 255, 0.41);
}

.nav-items-index-page {
    display: flex;
    height: 50px;
    gap: 60px;
    width: 90%;
}

.index-page-navbar:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("./../IndexPageAssets/wavesNegative.svg");
    background-size: cover;
    transform: scale(-1, -1);
    z-index: -1;
}

.index-page-navbar {
    position: fixed;
    width: 100%;
    align-items: start;
    background-color: #646cff;
}

.typed-animation {
    min-width: 70%;
    margin-left: 122px;
    font-size: 24px;
}

.graduate-regular {
    font-family: "Graduate", serif;
    font-weight: 600;
    font-style: oblique;
}

.color-effect {
    background: linear-gradient(100deg, deepskyblue, #5ff509, #095003, #1beae3,deepskyblue, deeppink);
    -webkit-background-clip: text;
    color: transparent;
}

#signin-link {
    background-color: #033644;
    font-size: 20px;
    font-weight: 600;
    color: white;
    border-radius: 10px;
    z-index: 1;
}

#signin-link:hover {
    background-color: transparent;
    color:  #033644;
}