.custom-shape-divider-top-1725299348 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1725299348 svg {
    position: relative;
    display: block;
    width: calc(96% + 100px);
    height: 200px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1725299348 .shape-fill {
    fill: rgba(4, 117, 124, 0.16);
}

.meseno-logo {
    position: fixed;
    right: 30px;
    border-radius: 40px;
}

.box-shadow {
    box-shadow: 4px 18px 10px rgba(0, 54, 255, 0.41);
}