.contact-us-header {
    font-family: "Graduate", system-ui;
    font-weight: 400;
    font-style: normal;
}
.contact-us-header {
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 2%;
}

.icons-section {
    display: flex;
    flex-direction: column;
    margin-left: 15%;
}

.left-icons {
    display: flex;
    flex-direction: row;
    gap: 7%;
    margin-bottom: 5%;
}

.right-icon {
    display: flex;
    flex-direction: row;
    margin-bottom: 5%;
    gap: 7%;
}

.icon {
    display: flex;
    flex-direction: column;

}