.contact-us-header {
    font-family: "Graduate", system-ui;
    font-weight: 400;
    font-style: normal;
}
.contact-us-header {
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 2%;
}

.icons-section {
    display: flex;
    flex-direction: column;
    margin-left: 12%;
}

.left-icons, .right-icon {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 8%;
    margin-bottom: 5%;
}

.icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    min-width: 16%;
    box-shadow: 8px 8px 20px #861bf1;
    border-radius: 10px;
    text-decoration: none;
    font-size: 16px;
    transition: transform ease-in 1.2s;
}

.icon:hover {
    transform: scale(1.2);
}

@media only screen and (max-device-width: 600px) {

    .left-icons, .right-icon {
        flex-direction: column;
        height: 25%;
    }

    .icon {
        font-size: 30px;
        margin-bottom: 30%;
        transition: transform ease-in 1.2s;
        height: 250px;
    }

    .icons-section {
        flex-direction: row;
        gap: 15%;
        margin-left: 10%;
    }
}

