.about-us-title {
    margin-left: 10%;
    margin-top:2%;
}

.about-us-accordion {
    margin-left: 5%;
    background-image: url("./../IndexPageAssets/aboutUsBGImage.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}

. .graduate-regular, #accordion-header-1,#accordion-header-2, #accordion-header-3 {
    font-family: "Graduate", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
}

.accordion-text-font {
    font-family: "Reddit Sans Condensed", sans-serif;
    font-optical-sizing: auto;
    font-style: revert;
    font-weight: 300;
    font-size: 18px;
}

.accordion-item-2 {
    margin-left: 5%;
}

.accordion-item-3 {
    margin-left: 10%;
}

.accordion-item-1, .accordion-item-3, .accordion-item-2 {
    width: 60%;
    margin-bottom: 20px;
}

@media only screen and (max-device-width: 768px){

    .accordion-item-1, .accordion-item-3, .accordion-item-2 {
        width: 90%;
        margin-left: 0;
    }

    .about-us-accordion {
        background: none;
    }

    .accordion-text-font {
        font-weight: 400;
        font-size: 32px;
    }

    .graduate-regular, #accordion-header-1,#accordion-header-2, #accordion-header-3 {
        font-weight: 600;
        font-size: 32px;
    }
}