
.index-footer {
    display: flex;
    align-items: center;
    height: 50px;
    justify-content: center;
    font-weight: lighter;
}

@media only screen and (max-device-width: 768px){
    .index-footer {
        font-size: 30px;
    }
}