.delete-button {
    background-color: transparent;
    border: none;
    height: fit-content;
    width: fit-content;
    justify-self: flex-end;
    align-self: flex-end;
    font-size: 13px;
    position: sticky;
}

/*.modal-image-deletion {
    color: white;
    background-color: rgba(12, 12, 12, 0.89);
}*/

.delete-button:hover, .button:active{
    background:none;
}

.cancel-button {
    background-color: rgb(1, 73, 1);
    border: 1px solid  rgba(0, 114, 0, 0.62);
}

.cancel-button:hover {
    background-color: rgba(1, 73, 1, 0.8);
    border: 1px solid  rgba(0, 114, 0, 0.62);
}

.confirm-delete {
    background-color: rgb(255, 0, 0);
    border: 1px solid rgba(215, 2, 34, 0.62);
}

.confirm-delete:hover {
    background-color: rgba(255, 0, 0, 0.71);
    border: 1px solid rgba(215, 2, 34, 0.62);
}