.user-management-page {
    display: flex;
    flex-flow: column;
    align-content: center;
    margin-top: 10vh;
    min-height: 100vh;
    width: 100%;
    background-color: transparent;
    margin-bottom: 40vh;
}

.user-display-title {
    display: flex;
    justify-content: space-between;
    gap: 10%;
    height: fit-content;
    padding: 9px 40px 9px 40px;
    background-color: rgba(245, 222, 179, 0.2);
    margin-top: 10px;
    transition: ease-in-out .4s linear;
    text-justify: distribute-center-last;
    text-align: center;
}

.users-holder {
    margin-top: 3px;
}

.user-field-spacer {
    margin-top: 90px;
}

.users-view:hover {
    transform: scale(1.02);
    box-shadow: 2px 4px 8px #861bf1;
}

.title-user-management {
    background-color: rgba(245, 222, 179, 1);
    position: fixed;
    width: 82%;
}

.space {
    width: 20%;
}

.user-reg-form {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-content: center;
    gap: 5%;
}

.role-select {
    width: 24%;
    text-align: center;
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom: 1px solid black;
    border-radius: 0;
}

.position-select {
    width: 46%;
    text-align: center;
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom: 1px solid black;
    border-radius: 0;
}

.email-input {
    width: 60%;
    text-align: center;
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom: 1px solid black;
    border-radius: 0;
}

.user-update-button {
    align-content: center;
    border: 1px solid rgb(11, 136, 175);
    background-color: rgb(11, 136, 175);
    width: 80px;
    font-weight: 400;
}

.cancel-changes-button, .apply-button {
    align-content: center;
    position: fixed;
    border: 1px solid rgb(11, 136, 175);
    background-color: rgb(11, 136, 175);
    width: 100px;
    font-weight: 600;
}

.cancel-changes-button:hover, .apply-button:hover, .user-update-button:hover {
    border: 1px solid rgb(11, 136, 175);
    background-color:whitesmoke;
    color: rgb(11, 136, 175);
}



.apply-button {
    right: 10vw;
    bottom: 10vh;
}


.cancel-changes-button {
    right: 30vw;
    bottom: 10vh;
}

.loading-component {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 2;
}

.update-loading {
    position: fixed;
    justify-self: center;
    align-self: center;
}

.add-user-button {
    background-color: transparent;
    border: solid grey 1px;
    color: black;
}

.add-user-button:hover {
    background-color: rgb(11, 136, 175);
    border: solid grey 1px;
    color: whitesmoke;
}

.add-user-error {
    color: red;

}

.user-delete {
    font-size: 20px;
    color: red;
}